body,html {
	margin:0;
	height:100%;
	width:100%;
}

#map {
	height: 100%;
}

body {
	display: grid;
	font-family: Arial, Helvetica, sans-serif;
	grid-template-rows: 60px 1fr 40px;
	grid-template-columns: 300px 1fr;
	grid-template-areas: 
	"header header"
	"content content"
	"footer footer";
}

.container{
	width: 80%;
	margin: 0 auto;
}

.header {
	grid-area: header;
	padding-top:10px;
	padding-bottom: 10px;
	float: left;
	background-color: #a1d3ff;
	color: #0A1126;
	font-style: italic;
	text-transform:uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 20px;
}


nav{
	text-align:center;
    width:750px;
	margin:0 auto;
    font-size:7px;
    text-transform:uppercase;
    letter-spacing:2px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li{
	float: left;
	text-align: center;
	margin-left: 90px;
	padding-top: 10px;
	padding-bottom: 10px;
}

nav a.active {
	background-color: #fff4ec;
	color: #c98686;
  }

nav a{

	color: #0A1126;
	display:inline-block;
    width: 150px;
	text-decoration: none;
	font-size: 12px;
	text-transform: uppercase;
	border-bottom:1px solid transparent;  
    border-top:1px solid transparent;   
}

nav a:hover{
	color:#FF6962;
}

nav a::before{
	content: '';
	display: block;
	height: 5px;
	background-color: #fff;
	position: absolute;
	top: 0;
	width: 0%;
	transition: all ease in-out 250ms;

}



#add{
	bottom: 0;
	left: 50%;
	margin-left: -725px;
	position:absolute;
	width: 300px;
	height: 200px;
	padding-bottom: 40px;
}

.content {
	grid-area: content;
}

.content2{
	padding-left: 20px;
}

.footer {
	grid-area: footer;
	padding:10px;
	background-color: #a1d3ff;
}

.sidebar-item {	/* border: 1px solid gray; */
	padding: 10px;	/* background-color: #333; */
	float:left;
	cursor:pointer;
	color: #f6ecf8;
	font-size: 1em;
	border: 5px #0A1126;
	background-color: #0A1126;
	margin: 5px;
	border-radius: 4px;
}
.sidebar-item:hover {
	background-color: #FF6962;
	-webkit-transition: all 0.4s;
  	-moz-transition: all 0.4s;
  	transition: all 0.4s;
	
}
.photo-row {
	/*flex: 25%;*/
	/*padding: 5px;*/
	display: center;
}

.pic{
	/*border: 1px solid rgba(0, 0, 0, 0.8);*/
	text-align: center;
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
	background-color: #f8f9fa;
	padding: 20px;
	height: auto;
}

.pic img {
	display: block;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
}

.about {
	display: center;
	background-color: #f8f9fa;
	padding: 20px;
	height: auto;
}
