@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Maven+Pro:wght@800&display=swap');

body,html {
	margin:0;
	height:100%;
	width:100%;
}

#map {
	height: 100%;
}

body {
	display: grid;
	grid-template-rows: 130px 1fr;
	grid-template-columns: 170px 1fr;
	grid-template-areas: 
	"header header"
    "navigation navigation"
	"title title"
	"content content"
    "footer footer"; 
}

.header {
	grid-area: header;
	padding:5px;
	background-color: rgb(8, 33, 60);
	color: rgb(255, 151, 60);
	font-size: 2em;
	font-family: 'Maven Pro', sans-serif;
	font-weight: bold;
}

.navigation{
    grid-area: navigation;
	height:fit-content;
    background-color: rgb(8, 33, 60); 
	grid-gap:0; 
}

.navigation-item{
	max-height: 20px;
	text-align: center;
    padding: 10px; 
    background: rgb(8, 33, 60);
    color: rgb(249, 171, 103); 
    font-family: 'Helvetica', sans-serif;
    cursor: pointer;
	float: left;
	position: sticky; 
}

.navigation-item:hover{
	max-height: 20px;
	text-align: center;
    background: rgb(3, 19, 37);
}

.active-navigation-item{
	max-height: 20px;
	text-align: center;
    padding: 10px; 
    background: rgb(249, 171, 103);
    color: rgb(241, 225, 210); 
    font-family: 'Helvetica', sans-serif;
	display: inline; 
	float: left;
	position: sticky; 
	border-right: 1px solid rgb(249, 171, 103) 
}

.title {
	grid-area: title;
	margin:0; 
	padding:10px;
	background-color: rgb(8, 33, 60);
	color: rgb(255, 151, 60);
	font-size:2.5em;
	font-family:'Libre Bodoni', serif;
	font-weight:lighter;
}

h2{
	margin:0px; 
	font-size:2em;
}

.content {
	margin:0;
	height:700px; 
	grid-area: content;
	background: rgb(8, 33, 60);
    color: rgb(241, 225, 210); 
	font-family: 'Helvetica', sans-serif;
}

.footer {
	grid-area: footer;
	padding:10px;
	background-color: rgb(10, 45, 82);
    color: rgb(249, 171, 103);
    font-family: 'Helvetica', sans-serif;
}